---
layout: default
title: About me
meta: This page gives information about me - work experience, Honors and Awards, education, and positions of responsibilities.
---
<div class="content-container container">
	<div class="column">
		<p class="alert">Have a look at my <a href="{{site.baseurl}}/public/docs/CV_Himanshu_Pahadia.pdf" target="_blank">Resume</a>.</p>
		<article class="content" itemscope itemtype="http://schema.org/BlogPosting">
			
			{% include figure.html src='pune-airplane.jpg' caption='Somewhere above Pune, Maharashtra' %}
			<section class="content__section" itemprop="articleBody">
				<h1>About me</h1>
				<p>I'm a 24-year-old data scientist at Hitachi Vantara. I have worked on designing, developing and deploying disruptive projects for real-world problems. I'm always amused by the power of computer vision and deep learning, the way it's transforming our lives is truly breathtaking. I wish to contribute to the vision intelligence revolution.</p>
				<p>I have an ideology - </p>
				<blockquote>
			      <p>What's conventional today will soon go obsolete and what feels like science fiction could become our new reality.</p>
			    </blockquote>
			    <p>This sentence is what keeps me going and has made me into the philomath I'm today. I love exploring new technologies and expanding my skills in artificial intelligence/deep learning to solve real-life use cases. I seek to approach a problem from a different empathetic perspective - one that not only provides the solution but also weilds a human-centric approach for the solution. </p>
			    <p>I am goal-oriented and can lead and efficiently work in teams with both technical and non-technical roles.</p>
			    <p></p>

				<!-- <i class="fa fa-coffee"></i>-->
				<!--                         from <a href="http://www.andhraeducationsociety.com/" target="_blank">Andhra Education Society School</a> (till Class 10) and <a href="http://amritavidyalayam-delhi.com/" target="_blank">Amrita Vidyalayam</a>(class 11 - 12)-->
				
					<!-- Born and raised in New Delhi. After completing school, I started pursuing Bachelor of technology in computer science from IIIT Delhi. -->
					<!--                            <br>It's my time at IIIT Delhi where I feel I grew the most. Apart from learning all the fancy tech-related stuff, I regularly organized fests and events.-->
					

					<hr>
					<h3>Honors and Awards -</h3>
					<ul>
						<li><strong>Team rank 2 - Bengalathon 2019</strong> - Our Hitachi Vantara's participating team "Road Runner" (comprised of 5 people) stood second in the national-level hackathon - Benagalathon that saw a participation of over 2500 teams. I was the team lead.</li>
						<li><strong>Hi-life award 2020 </strong>- Received the award for outstanding performance in designing an extended reality platform and participating in the pre-sales activity for potential clients.</li>
						<li><strong>Team Eureka Award</strong> 2019, Zensar Technologies - Received this award for innovations in the self-driving golf cart project.</li>
					</ul>
					<hr>
					<h3>Work Experience -</h3>
					<!--                        <p>I've been lucky enough to have  - </p>-->
					<div class="work-experiences">
						<div class="work-experience">
							<img class="work-logo" style="height: 6rem;" src="{{site.baseurl}}/assets/img/hitachivantara.png" />
							<h5 class="work-title">Data Scientist</h5>
							<h6 class="work-company">
							<a href="https://www.hitachivantara.com/en-in/home.html" target="_blank">Hitachi Vantara, Pune</a></h6>
							<div class="work-duration">Sep'19 - Present</div>
							<p class="work-description">I'm part of the  AI team in Insights and Analytics COP. Resarching and working on solutions in the machine learning, deep learning and extended reality domain. <strong>Our team stood second in national-level hackathon - Bengalathon 2019. Received Hi-choice award for designing a platform solution for a proposal (pre-sales activity).</strong>
								<!--                                <br>-->
								<!--                                <strong>Programming language and tools:</strong> -->
							</p>
						</div>
						<div class="work-experience">
							<img class="work-logo" src="{{site.baseurl}}/assets/img/zensar.png" />
							<h5 class="work-title">Associate Innovation Engineer</h5>
							<h6 class="work-company">
							<a href="https://www.zensar.com/zenlabs" target="_blank">Zenlabs</a>,
							<a href="http://www.zensar.com/" target="_blank">Zensar Technologies</a></h6>
							<div class="work-duration">Jun'18 - Aug'19</div>
							<p class="work-description">I was a researcher in computer vision, self-driving and extended reality domain. Designed, developed and delivered multiple computer vision solutions like visual analytics system for retail, hand-gesture recognition framework and self-driving golf cart project. <strong>Won innovation award for the self-driving gold cart project.</strong> <a href="{{site.baseurl}}/patents">Patents filed </a>at Zensar.
								<!--                                <br>-->
								<!--                                <strong>Programming language and tools:</strong> -->
							</p>
						</div>

						<div class="work-experience">
							<img class="work-logo" src="{{site.baseurl}}/assets/img/zensar.png" />
							<h5 class="work-title">Research and development Intern</h5>
							<h6 class="work-company">
							<a href="https://www.zensar.com/zenlabs" target="_blank">Zenlabs</a>,
							<a href="http://www.zensar.com/" target="_blank">Zensar Technologies</a></h6>
							<div class="work-duration">May'17 - Jun'17</div>
							<p class="work-description">Worked as a research intern in Zenlabs, The R&D center and Innovation hub of Zensar Technologies. I implemented a prototype system for providing gesture, voice and face recognition in a retail system. Developed a Virtual reality POC for the labs. Research involved in the Computer vision, Augmented Reality and Virtual Reality domain. <strong>I received a pre-placement offer during the internship.</strong>
								<!--                                <br>-->
								<!--                                <strong>Programming language and tools:</strong> -->
							</p>
						</div>
						<div class="work-experience">
							<img class="work-logo" src="{{site.baseurl}}/assets/img/uber.png" />
							<h5 class="work-title">Graphic design Intern</h5>
							<h6 class="work-company"><a href="https://www.uber.com/" target="_blank">Uber</a></h6>
							<div class="work-duration">Jun'16 - Aug'16</div>
							<p class="work-description">Graphic design internship on  Uber's loyalty program.</p>
						</div>
						<div class="work-experience">
							<img class="work-logo" src="{{site.baseurl}}/assets/img/iiitd.png" />
							<h5 class="work-title">Research intern</h5>
							<h6 class="work-company"><a href="http://graphics.iiitd.edu.in/index.php/2016/03/18/virtualcampus/" target="_blank">Virtual campus project</a>, <a href="https://iiitd.ac.in/" target="_blank">IIIT Delhi</a></h6>
							<div class="work-duration">May'15 - Jul'15</div>
							<div class="work-description">
								A 3D interactive and immersive virtual/mixed reality environment of IIIT Delhi campus designed to support geospatial services including smart navigation and telepresence.<br>
								<strong>Tasks:</strong> Developing a 3D model of the campus - rendered contours, terrain and virtual walkthrough of the college campus. Also developed the project’s website.<br>
								<strong>Programming language and tools:</strong> Crytek CryEngine, Google Sketchup, Adobe Photoshop, C#, JavaScript, HTML/CSS
							</div>
						</div>
					</div>
					<hr>
					<h3>Community work - </h3>
					<div class="work-experiences">
						<div class="work-experience">
							<img class="work-logo" src="{{site.baseurl}}/assets/img/healthfitnesstrust.jpg" />
							<h5 class="work-title">Teaching volunteer</h5>
							<h6 class="work-company"><a href="http://healthfitnesstrust.org/" target="_blank">Health Fitness Trust</a></h6>
							<div class="work-duration">Dec'17 - Jan'18</div>
							<p class="work-description">The NGO partnered with the Ministry of Minority affairs to help with a scheme which is dedicated to educate and develop skills of marginalized sections of minority communities viz; Muslims, Christians, Sikhs, Buddhists, Parsis and Jains in the country. I volunteered as a teacher in this project - teaching the students english, soft skills, computer science and career enhancement skills.</p>
							<!--                                <p class="work-description">Teaching english, soft skills and computer basics to the underprivileged and minority section of the society.</p>-->
						</div>
					</div>
					<hr>
					<br>At IIITD, I regularly organized fests and events.
					<ul>
						<li><strong>Ink. (Design club)</strong> - Club Coordinator</li>
						<li><strong>Odyssey'18</strong> - Creatives Head, Organizing committee</li>
						<li><strong>UX design winter school'17</strong> - Teaching Assistant</li>
						<li><strong>Esya’16 (Technical fest)</strong> – Creatives Head, Organizing committee </li>
						<li><strong>Design 360 (IIIT Delhi's first designathon)</strong>, Odyssey’17 – Event head</li>
						<li><strong>TEDxIIITD’16</strong> – Design Head </li>
						<li><strong>Media Panel (Official content to IIITD)</strong> – Head, Design team </li>
						<li><strong>Cadence’16</strong> – Event organizer, Organizing team </li>
						<li><strong>Esya’15</strong> – Organizing team</li>
						<li><strong>Odyssey’15 (Cultural fest)</strong> - Organizing team</li>
						<li><strong>Esya'14</strong> - Volunteer</li>
					</ul>
				</p>
				<p>That's all about me. <a href="{{site.baseurl}}/contact">Tell</a> me about yourself. </p>
			</section>
		</article>
		{% include footer.html %}
		<!-- end of links-->
	</div>
	<!-- end of column-->
</div>