---
layout: default
title: blog
changefreq: daily
---
<div class="content-container container">
	<div class="column">
		<article class="content" itemscope itemtype="http://schema.org/BlogPosting">
			<section class="content__section" itemprop="articleBody">
				<h1>Blog</h1>
				<div class="content__list">
					{% for blogpost in site.categories.blog %}
						<div class="content__list__item">
							<article class="content" itemscope itemtype="http://schema.org/BlogPosting">
								<figure class="content__image ">
									<a href="{{site.baseurl}}{{blogpost.url}}">
										<img class="content__image__img" src="{{site.baseurl}}/assets/img/{{blogpost.image}}" alt="">
									</a>
									<figcaption class="content__image__caption">
									Source: <a href="{{blogpost.sourcelink}}" style="display:inline" target="_blank">{{blogpost.source}}</a>
									</figcaption>
								</figure>
								<header class="content__header ">
									<p class="content__date" title="2018-05-20">
										<time datetime="{{blogpost.date}}" itemprop="datePublished">
										{{blogpost.datex}}
										</time> &mdash; {{blogpost.read}}
									</p>
									<h1 class="content__title" itemprop="name headline">
									<a href="{{site.baseurl}}{{blogpost.url}}">{{blogpost.title}}</a>
									</h1>
								</header>
								<section class="content__section" itemprop="articleBody">
									<p>{{blogpost.meta}}<a href="{{site.baseurl}}{{blogpost.url}}">(Read more)</a></p>
								</section>
							</article>
						</div>
					{% endfor %}
			</div>
			<!-- End of list items -->
		</section>
	</article>
	{% include footer.html %}
</div>
<!-- end of column-->
</div>