---
layout: default
title: Contact
meta: Contact information Himanshu Pahadia
---
<div class="content-container container">
	<div class="column">
		<article class="content" itemscope itemtype="http://schema.org/BlogPosting">
			
			<!-- {% include figure.html src='deer-corbett.jpg' caption='Jim Corbett National Park, Uttarakhand' %} -->
			{% include figure.html src='vessel.jpg' caption='The Vessel, NYC' %}

			<section class="content__section" itemprop="articleBody">
				<h1>Get in touch</h1>
				<!--                        <p>Although, I'm currently busy with graduation, but always looking forward to <strike>time travels</strike> hear about new, exciting projects.</p>-->
				<p>If you want to know more about me, my work or if youʼre a Nigerian prince who wants to offer me a lot of money, feel free to contact me on
					<div style="color:#00c4cc;font-family: 'PT Sans', sans-serif;text-align:center;">himanshu.pahadia@gmail.com</div>
				</p>
				<!--                        <h3 class="email_h"> himanshu.pahadia@gmail.com</p>-->
			</section>
		</article>
		{% include footer.html %}
		
		<!-- end of links-->
	</div>
	<!-- end of column-->
</div>