---
layout: default
title: Patents
changefreq: daily
---
<div class="content-container container">
    <div class="column">
        <article class="content" itemscope itemtype="http://schema.org/BlogPosting">
            {% include figure.html src='amanora.jpg' caption='Amanora Park Town, Pune' %}
            <section class="content__section" itemprop="articleBody">
                <h1>Patents</h1>
                <div class="content__list">
                    <a href="#">
                        <div class="content__list__item">
                            <article class="content" itemscope itemtype="http://schema.org/BlogPosting">
                                <header class="content__header">
                                    <!-- <i class="fa  fa-2x fa-arrow-circle-o-right" aria-hidden="true" style="float:right; margin-top:1rem"></i>-->
                                    <h3 class="content__title">A system and method for performing tasks based on multi-modal hand gesture recognition</h3>
                                </header>
                                <section class="content__section" itemprop="articleBody">
                                    <p>The patent proposes a novel system to capture the high-frequency vibrations produced as a result of muscle traction and visual feed to recognize and classify the hand gestures. It uses an ensemble neural network and performs tasks on the basis of recognized micro or macro-gestures. (Patent app no. - 201821049794)
                                        <br>
                                        <strong>Inventors</strong> - Himanshu Pahadia, Hardik Munjal, Anand Yashwanth
                                    </p>
                                </section>
                            </article>
                        </div>
                    </a>
                    <hr>

                    <a href="#">
                        <div class="content__list__item">
                            <article class="content" itemscope itemtype="http://schema.org/BlogPosting">
                                <header class="content__header">
                                    <!-- <i class="fa  fa-2x fa-arrow-circle-o-right" aria-hidden="true" style="float:right; margin-top:1rem"></i> -->
                                    <h3 class="content__title">An unmanned aerial vehicle and a method thereof</h3>
                                </header>
                                <section class="content__section" itemprop="articleBody">
                                    <p>The patent proposes an architecture of a surveillance drone that is equipped will multiple environment mapping sensors. The drone follows the person and keeps track of any suspicious activity happening around the user he’s surveilling. A pretrained neural network can identify possible threats through a series of data. (Patent app no. - 201921023696)
                                        <br>
                                        <strong>Inventors</strong> - Hardik Munjal, Himanshu Pahadia
                                    </p>
                                </section>
                            </article>
                        </div>
                    </a>
                    <hr>

                    <a href="#">
                        <div class="content__list__item">
                            <article class="content" itemscope itemtype="http://schema.org/BlogPosting">
                                <header class="content__header">
                                    <!-- <i class="fa  fa-2x fa-arrow-circle-o-right" aria-hidden="true" style="float:right; margin-top:1rem"></i> -->
                                    <h3 class="content__title">Smart Mixed Reality headset with egocentric vision capture and a method thereof</h3>
                                </header>
                                <section class="content__section" itemprop="articleBody">
                                    <p>Patent proposes the architecture of a mixed reality headset with an egocentric camera that captures user’s daily activity which is later utilised to realise personal well-being, health tracking, fitness tracking and personal safety. MR enabled Headset helps the user visualise contextual information more seamlessly and effectively. (Filing in progress)<br>
                                        <strong>Inventors</strong> - Vidhi S. Rai, Himanshu Pahadia</p>
                                </section>
                            </article>
                        </div>
                    </a>
                    <hr>
                </div>
            </section>
        </article>
        {% include footer.html %}
        <!-- end of links-->
    </div>
    <!-- end of column-->
</div>