---
layout: default
title: Resume
---
<div class="content-container container">
	<div class="column">
		<article class="content" itemscope itemtype="http://schema.org/BlogPosting">
			
			{% include figure.html src='drop-mahabaleshwar.jpg' caption='Mahabaleshwar, Maharashtra' %}
			<section class="content__section" itemprop="articleBody">
				<h1>Resume</h1>
				<p>Download versions here - </p>
				<ul>
					<li><a href="{{site.baseurl}}/public/docs/resume-himanshu_pahadia.pdf">One-page resume</a></li>
					<li><a href="{{site.baseurl}}/public/docs/resume_complete-himanshu_pahadia.pdf">Complete resume</a></li>
					<!-- CV_Himanshu_Pahadia -->
				</ul>
				<p></p>
			</section>
		</article>
		{% include footer.html %}
		
		<!-- end of links-->
	</div>
	<!-- end of column-->
</div>