<aside class="menu" js-component="menu">
    <nav class="menu-nav nav">
        <ul class="nav-list nav-list--primary">
            <li class="nav-list-item" js-menu-item>
                <a class="nav-list-link nav-list-link--active" href="{{site.baseurl}}/">
                    Home
                </a>
            </li>
            <li class="nav-list-item" js-menu-item>
                <a class="nav-list-link" href="{{site.baseurl}}/about">
                    About
                </a>
            </li>
            <li class="nav-list-item" js-menu-item>
                <a class="nav-list-link" href="{{site.baseurl}}/patents">
                    Patents
                </a>
            </li>
            <li class="nav-list-item" js-menu-item>
                <a class="nav-list-link" href="{{site.baseurl}}/blog">
                    Blog
                </a>
            </li>
            <li class="nav-list-item" js-menu-item>
                <a class="nav-list-link" href="{{site.baseurl}}/projects">
                    Projects
                </a>
            </li>

        </ul>
        <ul class="nav-list nav-list--secondary">
            <hr class="nav-list-divider" />
            <li class="nav-list-item" js-menu-item>
                <a class="nav-list-link" href="{{site.baseurl}}/contact">
                    Contact
                </a>
            </li>
            <li class="nav-list-item" js-menu-item>
                <a class="nav-list-link" target="_blank" href="{{site.baseurl}}/public/docs/12292023_pahadiahimanshu_resume.pdf" >
                    Resume
                </a>
            </li>
            <!-- <li class="nav-list-item" js-menu-item>
                <a class="nav-list-link" href="{{site.baseurl}}/public/docs/Resume-HimanshuPahadia.pdf" target="_blank">
                    Resume (2 pages)
                </a>
            </li> -->
        </ul>
    </nav>
</aside>