<div class="homepage_links">
    <a href="mailto:himanshu.pahadia@gmail.com" rel="nofollow" target="_blank" title="Send me an email">
        <i class="fa fa-at"></i>
    </a>
    <a href="https://www.linkedin.com/in/himanshupahadia/" rel="nofollow" target="_blank" title="See my linkedin profile">
        <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://github.com/pahadiahimanshu" rel="nofollow" target="_blank" title="Look at my Github profile">
        <i class="fa fa-github"></i>
    </a>
    <a href="https://twitter.com/pahadiahimanshu" rel="nofollow" target="_blank" title="Tweet me">
        <i class="fa fa-twitter "></i>
    </a>
    <a href="https://www.instagram.com/pahadiahimanshu/" rel="nofollow" target="_blank" title="Instagram">
        <i class="fa fa-instagram" id="insta-inside"></i>
        
    </a>
</div>
<p style="text-align:center;font-size:1rem"> &#9400; Himanshu Pahadia 2018</p>